<div class="container">
    <div class="row"> 
      <div class="col-lg-10 ">              
        <% @url = {controller: 'projects', action: 'create', method: 'post'} %>
        <%= notice %>
        <%= render 'form' %>
      </div>
    </div>   
</div> 